In [ ]:
import pandas as pd # data processing
import numpy as np # working with arrays
import itertools # construct specialized tools
import matplotlib.pyplot as plt # visualizations
from matplotlib import rcParams # plot size customization
from sklearn.model_selection import train_test_split # splitting the data
from sklearn.linear_model import LogisticRegression # model algorithm
from sklearn.preprocessing import StandardScaler # data normalization
from sklearn.metrics import precision_score # evaluation metric
from sklearn.metrics import log_loss # evaluation metric

In [ ]:
data = pd.read_excel('/Users/nahariaprateek/Downloads/UV6696-XLS-ENG.xlsx', sheet_name=2)

In [ ]:
data.head(5)

,ID,customerAge,churn,CHIScoreMonth0,CHIScore 0-1,SupportCasesMonth 0,SupportCases0-1,SPMonth 0,SP0-1,Logins0-1,BlogArticles0-1,Views0-1,DaysSinceLastLogin0-1
0,1,67,0,0,0,0,0,0.0,0.0,0,0,0,31
1,2,67,0,62,4,0,0,0.0,0.0,0,0,-16,31
2,3,55,0,0,0,0,0,0.0,0.0,0,0,0,31
3,4,63,0,231,1,1,-1,3.0,0.0,167,-8,21996,0
4,5,57,0,43,-1,0,0,0.0,0.0,0,0,9,31

In [ ]:
data.describe()

,ID,customerAge,churn,CHIScoreMonth0,CHIScore 0-1,SupportCasesMonth 0,SupportCases0-1,SPMonth 0,SP0-1,Logins0-1,BlogArticles0-1,Views0-1,DaysSinceLastLogin0-1
count,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000,6347.000000
mean,3174.000000,13.896802,0.050890,87.316685,5.058610,0.706318,-0.006932,0.812781,0.030169,15.727903,0.157240,96.310540,1.764613
std,1832.365411,11.160078,0.219791,66.282788,30.828767,1.723961,1.870942,1.320530,1.460336,42.119061,4.660607,3152.411673,17.966020
min,1.000000,0.000000,0.000000,0.000000,-125.000000,0.000000,-29.000000,0.000000,-4.000000,-293.000000,-75.000000,-28322.000000,-648.000000
25%,1587.500000,5.000000,0.000000,24.500000,-8.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,-11.000000,0.000000
50%,3174.000000,11.000000,0.000000,87.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,4760.500000,20.000000,0.000000,139.000000,15.000000,1.000000,0.000000,2.666667,0.000000,23.000000,0.000000,27.000000,3.000000
max,6347.000000,67.000000,1.000000,298.000000,208.000000,32.000000,31.000000,4.000000,4.000000,865.000000,217.000000,230414.000000,61.000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6347 entries, 0 to 6346
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     6347 non-null   int64
 1   customerAge            6347 non-null   int64
 2   churn                  6347 non-null   int64
 3   CHIScoreMonth0         6347 non-null   int64
 4   CHIScore 0-1           6347 non-null   int64
 5   SupportCasesMonth 0    6347 non-null   int64
 6   SupportCases0-1        6347 non-null   int64
 7   SPMonth 0              6347 non-null   float64
 8   SP0-1                  6347 non-null   float64
 9   Logins0-1              6347 non-null   int64
 10  BlogArticles0-1        6347 non-null   int64
 11  Views0-1               6347 non-null   int64
 12  DaysSinceLastLogin0-1  6347 non-null   int64
dtypes: float64(2), int64(11)
memory usage: 644.7 KB

In [ ]:
X_var = np.asarray(data[['customerAge', 'CHIScoreMonth0', 'CHIScore 0-1', 'SupportCasesMonth 0', 'SupportCases0-1', 
                       'SPMonth 0', 'SP0-1', 'Logins0-1', 'BlogArticles0-1', 'Views0-1', 'DaysSinceLastLogin0-1']])
y_var = np.asarray(data['churn'])

In [ ]:
print( X_var[:5])
print('y_var samples : ', y_var[:5])

[[ 6.7000e+01  0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00
   0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00  3.1000e+01]
 [ 6.7000e+01  6.2000e+01  4.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00
   0.0000e+00  0.0000e+00  0.0000e+00 -1.6000e+01  3.1000e+01]
 [ 5.5000e+01  0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00
   0.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00  3.1000e+01]
 [ 6.3000e+01  2.3100e+02  1.0000e+00  1.0000e+00 -1.0000e+00  3.0000e+00
   0.0000e+00  1.6700e+02 -8.0000e+00  2.1996e+04  0.0000e+00]
 [ 5.7000e+01  4.3000e+01 -1.0000e+00  0.0000e+00  0.0000e+00  0.0000e+00
   0.0000e+00  0.0000e+00  0.0000e+00  9.0000e+00  3.1000e+01]]
y_var samples :  [0 0 0 0 0]

In [ ]:
X_var = StandardScaler().fit(X_var).transform(X_var)

In [ ]:
print( X_var[:5])

[[ 4.75869280e+00 -1.31743951e+00 -1.64100266e-01 -4.09738720e-01
   3.70559563e-03 -6.15544470e-01 -2.06605648e-02 -3.73444747e-01
  -3.37406788e-02 -3.05537913e-02  1.62738829e+00]
 [ 4.75869280e+00 -3.81979700e-01 -3.43410998e-02 -4.09738720e-01
   3.70559563e-03 -6.15544470e-01 -2.06605648e-02 -3.73444747e-01
  -3.37406788e-02 -3.56296704e-02  1.62738829e+00]
 [ 3.68334677e+00 -1.31743951e+00 -1.64100266e-01 -4.09738720e-01
   3.70559563e-03 -6.15544470e-01 -2.06605648e-02 -3.73444747e-01
  -3.37406788e-02 -3.05537913e-02  1.62738829e+00]
 [ 4.40024413e+00  2.16790269e+00 -1.31660475e-01  1.70366490e-01
  -5.30826574e-01  1.65644877e+00 -2.06605648e-02  3.59181833e+00
  -1.75039069e+00  6.94751103e+00 -9.82272232e-02]
 [ 3.86257111e+00 -6.68652868e-01 -1.96540058e-01 -4.09738720e-01
   3.70559563e-03 -6.15544470e-01 -2.06605648e-02 -3.73444747e-01
  -3.37406788e-02 -2.76986093e-02  1.62738829e+00]]

In [ ]:
# prediction
# entire dataset
yhat2 = lr2.predict(X_var)
yhat_prob2 = lr2.predict_proba(X_var)

In [ ]:
# customer 5203
print('yhat samples : ', yhat2[5203:5204])
print('yhat_prob samples : ', yhat_prob2[5203:5204])

yhat samples :  [0]
yhat_prob samples :  [[0.97769885 0.02230115]]

In [ ]:
# customer 672
print('yhat samples : ', yhat2[672:673])
print('yhat_prob samples : ', yhat_prob2[672:673])

yhat samples :  [0]
yhat_prob samples :  [[0.95426333 0.04573667]]

In [ ]:
# customer 354
print('yhat samples : ', yhat2[354:355])
print('yhat_prob samples : ', yhat_prob2[354:355])

In [ ]:

# 1. Jaccard Index
print((precision_score(y_var, yhat2).round(2)))

In [ ]:
# 3. Log loss

print(log_loss(y_var, yhat2).round(2))

1.76

In [ ]:
data.corr()

,ID,customerAge,churn,CHIScoreMonth0,CHIScore 0-1,SupportCasesMonth 0,SupportCases0-1,SPMonth 0,SP0-1,Logins0-1,BlogArticles0-1,Views0-1,DaysSinceLastLogin0-1
ID,1.000000,-0.707360,-0.106701,-0.371243,0.181149,0.047273,0.020784,0.003664,0.039687,0.030990,0.053257,0.007763,-0.034162
customerAge,-0.707360,1.000000,0.030215,0.304894,-0.151923,-0.075576,-0.010343,-0.042218,-0.008314,-0.041608,-0.037195,0.003744,0.036344
churn,-0.106701,0.030215,1.000000,-0.084005,-0.066069,-0.044973,0.005457,-0.054929,-0.007432,-0.042149,-0.012889,-0.014110,0.060858
CHIScoreMonth0,-0.371243,0.304894,-0.084005,1.000000,0.203202,0.309395,-0.014776,0.376865,-0.004130,0.317205,0.041696,0.040517,-0.100888
CHIScore 0-1,0.181149,-0.151923,-0.066069,0.203202,1.000000,0.257441,0.277637,0.226392,0.241092,0.423758,0.234869,-0.014326,0.040311
SupportCasesMonth 0,0.047273,-0.075576,-0.044973,0.309395,0.257441,1.000000,0.493101,0.653792,0.288002,0.347236,0.077569,0.028084,-0.042705
SupportCases0-1,0.020784,-0.010343,0.005457,-0.014776,0.277637,0.493101,1.000000,0.254766,0.511297,0.279418,0.087303,-0.014398,0.008043
SPMonth 0,0.003664,-0.042218,-0.054929,0.376865,0.226392,0.653792,0.254766,1.000000,0.562630,0.306965,0.047763,0.028841,-0.062747
SP0-1,0.039687,-0.008314,-0.007432,-0.004130,0.241092,0.288002,0.511297,0.562630,1.000000,0.212519,0.048583,-0.005579,0.018644
Logins0-1,0.030990,-0.041608,-0.042149,0.317205,0.423758,0.347236,0.279418,0.306965,0.212519,1.000000,0.151858,0.026411,-0.025092
BlogArticles0-1,0.053257,-0.037195,-0.012889,0.041696,0.234869,0.077569,0.087303,0.047763,0.048583,0.151858,1.000000,0.000220,0.008779
Views0-1,0.007763,0.003744,-0.014110,0.040517,-0.014326,0.028084,-0.014398,0.028841,-0.005579,0.026411,0.000220,1.000000,-0.002920
DaysSinceLastLogin0-1,-0.034162,0.036344,0.060858,-0.100888,0.040311,-0.042705,0.008043,-0.062747,0.018644,-0.025092,0.008779,-0.002920,1.000000

In [ ]:
print(yhat_prob2[:,1])

[0.19563293 0.1538998  0.17436427 ... 0.06531986 0.06531986 0.06531986]

In [ ]:
### X_var['probability_of_churn'] = yhat2[:]

data.insert(loc=3,column='probability_of_churn',value=yhat_prob2[:,1])

In [ ]:
data.head()

,ID,customerAge,churn,probability_of_churn,CHIScoreMonth0,CHIScore 0-1,SupportCasesMonth 0,SupportCases0-1,SPMonth 0,SP0-1,Logins0-1,BlogArticles0-1,Views0-1,DaysSinceLastLogin0-1
0,1,67,0,0.195633,0,0,0,0,0.0,0.0,0,0,0,31
1,2,67,0,0.153900,62,4,0,0,0.0,0.0,0,0,-16,31
2,3,55,0,0.174364,0,0,0,0,0.0,0.0,0,0,0,31
3,4,63,0,0.006687,231,1,1,-1,3.0,0.0,167,-8,21996,0
4,5,57,0,0.154279,43,-1,0,0,0.0,0.0,0,0,9,31

In [ ]:
print(yhat_prob2[:,0])

[0.80436707 0.8461002  0.82563573 ... 0.93468014 0.93468014 0.93468014]

In [ ]:
data.to_excel('/Users/nahariaprateek/Downloads/predictions_output.xlsx')